/* el-dialog样式覆盖 */
.popupDialog .el-dialog {
    border-radius:10px 10px 0px 0px;
}
.popupDialog .el-dialog__header {
    height:60px;
    background:linear-gradient(180deg,rgba(54,130,243,1) 0%,rgba(0,88,162,1) 100%);
    opacity:1;
    border-radius:4px 4px 0px 0px;
}
.popupDialog .el-dialog__body button:nth-child(2) {
    margin-left: 56px;
}
.popupDialog .el-dialog__header .el-dialog__title {
    font-size:20px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    line-height:26px;
    color:rgba(255,255,255,1);
    opacity:1;
}

/* ele MessageBox 弹框样式覆盖 */
.el-message-box{
    width:350px;
    height: 200px;
	background:rgba(255,255,255,1);
	opacity:1;
    border-radius:10px;
    text-align: center !important;
}
.el-message-box .el-message-box__content{
    margin-bottom: 36px;
}
.el-message-box .el-message-box__btns button{
    width:80px;
    height:35px;
    opacity:1;
    border-radius:18px;
}
.el-message-box__btns button:nth-child(1) {
    background:linear-gradient(180deg,rgba(225,225,225,1) 0%,rgba(190,190,190,1) 100%);
    color:rgba(99,99,99,1);
    border: none;
}
.el-message-box__btns button:nth-child(1):hover, .el-message-box__btns button:nth-child(1):focus {
    background:linear-gradient(180deg,rgba(225,225,225,1) 0%,rgb(219, 219, 219) 100%);
    color:rgba(99,99,99,1);
    border: none;
}
.el-message-box__btns button:nth-child(1):active {
    background:linear-gradient(180deg,rgba(225,225,225,1) 0%,rgb(219, 219, 219) 100%);
    color:rgba(99,99,99,1);
    border: none;
}
.el-message-box__btns button:nth-child(2) {
    background:linear-gradient(180deg,rgba(54,130,243,1) 0%,rgba(0,88,162,1) 100%);
    color:rgba(255,255,255,1);
    margin-left: 56px;
}
.el-message-box__btns button:nth-child(2):hover, .el-message-box__btns button:nth-child(2):focus {
    background:linear-gradient(180deg,rgb(65, 138, 247) 0%,rrgb(7, 105, 185)100%);
    color:rgba(255,255,255,1);
}
.el-message-box__btns button:nth-child(2):active {
    background:linear-gradient(180deg,rgba(54,130,243,1) 0%,rgba(0,88,162,1) 100%);
    color:rgba(255,255,255,1);
}
/* 表格样式 */
.el-table{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
/* 文字居中 */
.el-table td, .el-table th {
    text-align: center !important;
}
.el-table th .cell {
    font-family:Microsoft YaHei;
    color:rgba(255,255,255,1);
    opacity:1;
}
/* 表格固定列 防止最后一行显示不全 */
.el-table__fixed, .el-table__fixed-right{
    height: 100% !important;
}